<?xml version="1.0" encoding="UTF-8"?>

<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0"
  xmlns:android="http://schemas.android.com/apk/res/android"
  id="charkhone-plugin-inapppurchase-sdk"
  version="5.2">

  <name>InAppPurchase</name>
  <description>A lightweight cordova plugin for in app purchases on iOS and Android with a simple promise based API.</description>
  <engines>
    <engine name="cordova" version=">=5.0.0" />
  </engines>
  <repo>https://github.com/AlexDisler/cordova-plugin-inapppurchase.git</repo>
  <issue>https://github.com/AlexDisler/cordova-plugin-inapppurchase/issues</issue>

  <license>MIT</license>
  <keywords>cordova,phonegap,ionic,purchase,storekit,ios,android,play,appstore</keywords>

  <platform name="android">
    <js-module src="www/index-android.js" name="InAppBillingV3">
      <merges target="inAppPurchase" />
    </js-module>

    <config-file target="res/xml/config.xml" parent="/*">
      <feature name="InAppBillingV3">
        <param name="android-package" value="com.alexdisler.inapppurchases.InAppBillingV3"/>
      </feature>
    </config-file>


    <!-- amaroid -->
    <asset src="www/amaroid.js" target="js/amaroid.js"/>
  
    <js-module src="www/amaroid.js" name="amaroid">
      <clobbers target="cordova.plugins.Amaroid" />
    </js-module>

    <config-file target="res/xml/config.xml" parent="/*">
      <feature name="AmaroidBridge">
        <param name="android-package" value="net.jhoobin.cordovabridge.AmaroidBridge"/>
      </feature>
    </config-file>
    <!-- /amaroid -->



	<framework src="src/android/plugin.gradle" custom="true" type="gradleReference" />

    <!-- amaroid -->
    <source-file src="src/android/libs/amaroid-and.aar" target-dir="libs" />
    <source-file src="src/android/AmaroidBridge.java" target-dir="src/net/jhoobin/cordovabridge/"/>
    <!-- /amaroid -->

	<!--<source-file src="src/android/libs/gson-2.8.5.jar" target-dir="libs" />-->
	<source-file src="src/android/libs/bouncycastle.aar" target-dir="libs" />
	<source-file src="src/android/libs/inAppSDK.aar" target-dir="libs" />
		
    <source-file src="src/android/MarketIntentFactory.java" target-dir="src/com/android/billingclient/util" />
    <source-file src="src/android/MarketIntentFactorySDK.java" target-dir="src/com/android/billingclient/util" />
	
    <source-file src="src/android/InAppBillingV3.java" target-dir="src/com/alexdisler/inapppurchases" />
    <source-file src="src/android/Base64.java" target-dir="src/com/alexdisler/inapppurchases" />
    <source-file src="src/android/Base64DecoderException.java" target-dir="src/com/alexdisler/inapppurchases" />
    <source-file src="src/android/IabException.java" target-dir="src/com/alexdisler/inapppurchases" />
    <source-file src="src/android/IabHelper.java" target-dir="src/com/alexdisler/inapppurchases" />
    <source-file src="src/android/IabResult.java" target-dir="src/com/alexdisler/inapppurchases" />
    <source-file src="src/android/Inventory.java" target-dir="src/com/alexdisler/inapppurchases" />
    <source-file src="src/android/Purchase.java" target-dir="src/com/alexdisler/inapppurchases" />
    <source-file src="src/android/Security.java" target-dir="src/com/alexdisler/inapppurchases" />
    <source-file src="src/android/SkuDetails.java" target-dir="src/com/alexdisler/inapppurchases" />
	<source-file src="src/android/billing/IInAppBillingService.aidl" target-dir="src/com/android/vending/billing" />

    <!-- amaroid -->
    <hook type="before_build" src="scripts/AddAmaroidIdToStringsXml.js" />
    <!-- /amaroid -->
	
  </platform>

</plugin>
